Repository rlarson20/elbrus: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, sqlx-offline-check, cargo-test-unit

.pre-commit-config.yaml:

# Install:
#   pip install pre-commit
#   pre-commit install   # installs pre-commit + commit-msg stages (see default_install_hook_types)
#
# Run manually against all files:
#   pre-commit run --all-files
#
# Skip a hook in an emergency:
#   SKIP=cargo-clippy git commit …

default_install_hook_types: [pre-commit, commit-msg]
default_stages: [pre-commit]

repos:
  # ── File hygiene ────────────────────────────────────────────────────────────
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: check-added-large-files
        # 500 KB hard limit; Scryfall JSON lives in /data (gitignored), not the repo
        args: [--maxkb=500]

  # ── Secret scanning ─────────────────────────────────────────────────────────
  # Requires: brew install gitleaks
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.23.3
    hooks:
      - id: gitleaks

  # ── Conventional commits ────────────────────────────────────────────────────
  # Enforces: <type>[(scope)][!]: <description>
  # Allowed types are listed in args below.
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.6.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args:
          - feat # new feature
          - fix # bug fix
          - docs # documentation only
          - style # formatting, whitespace (no logic change)
          - refactor # neither fix nor feature
          - perf # performance improvement
          - test # add/fix tests
          - chore # tooling, deps, CI plumbing
          - ci # CI config changes
          - build # build system / dependency changes
          - revert # revert a prior commit

  # ── Rust ────────────────────────────────────────────────────────────────────
  - repo: local
    hooks:
      # Format check — use `cargo fmt --all` locally to auto-fix before committing.
      # Hook intentionally uses --check so fmt failures are explicit.
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --all -- --check
        language: system
        types: [rust]
        pass_filenames: false

      # Clippy — mirrors CI exactly; -D warnings means any lint is a hard failure.
      # TODO: improve lint quality (pedantic lints, specific issues that come up several times)
      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy --workspace --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false

      # SQLx offline — verifies sqlx-data.json covers all query! macros.
      # Only runs when elbrus-db source or migrations change.
      # If this fails: run `cargo sqlx prepare --workspace` and commit the updated cache.
      - id: sqlx-offline-check
        name: sqlx offline check
        entry: env SQLX_OFFLINE=true cargo check -p elbrus-db
        language: system
        files: ^crates/elbrus-db/
        types_or: [rust, toml, sql]
        pass_filenames: false

      # Unit tests only — lib tests, no integration tests in tests/ dirs.
      # Keep this fast; integration tests belong in CI only.
      - id: cargo-test-unit
        name: cargo test (unit)
        entry: cargo test --workspace --lib
        language: system
        types: [rust]
        pass_filenames: false

chore: add `nom` dependency
  Cargo.lock
  crates/elbrus-core/Cargo.toml
  crates/elbrus-core/src/mana.rs
Due: cargo-fmt, cargo-clippy, cargo-test-unit

chore: updating roadmap for more accurate plan
  ROADMAP_CONTINUATION.md
Due: none

feat: added initial schema, fts5 virt table schema
  ROADMAP_CONTINUATION.md
  crates/elbrus-db/migrations/001_initial_schema.sql
  crates/elbrus-db/migrations/002_fts5.sql
Due: sqlx-offline-check

feat: impl `SqliteBackend` struct and related roadmap issues
  ROADMAP_CONTINUATION.md
  crates/elbrus-db/src/backend.rs
  crates/elbrus-db/src/sqlite.rs
Due: cargo-fmt, cargo-clippy, sqlx-offline-check, cargo-test-unit

feat: implement `CardRepository` for `SqliteBackend`
  ROADMAP_CONTINUATION.md
  crates/elbrus-core/src/card.rs
  crates/elbrus-db/src/repo/card.rs
Due: cargo-fmt, cargo-clippy, sqlx-offline-check, cargo-test-unit

feat: implemented price snapshot queries
  Cargo.lock
  ROADMAP_CONTINUATION.md
  crates/elbrus-core/src/collection.rs
  crates/elbrus-core/src/lib.rs
  crates/elbrus-db/Cargo.toml
  crates/elbrus-db/migrations/003_collections_and_prices.sql
  crates/elbrus-db/src/repo/collection.rs
  crates/elbrus-db/src/repo/mod.rs
  crates/elbrus-db/src/repo/price.rs
  crates/elbrus-db/tests/integration.rs
Due: cargo-fmt, cargo-clippy, sqlx-offline-check, cargo-test-unit

feat: bulk ingestion completed
  Cargo.lock
  ROADMAP_CONTINUATION.md
  crates/elbrus-core/src/mana.rs
  crates/elbrus-core/src/types.rs
  crates/elbrus-scryfall/Cargo.toml
  crates/elbrus-scryfall/src/bulk.rs
  crates/elbrus-scryfall/src/convert.rs
  crates/elbrus-scryfall/src/models.rs
  crates/elbrus-scryfall/tests/data/sample.json
  crates/elbrus-scryfall/tests/integration.rs
Due: cargo-fmt, cargo-clippy, cargo-test-unit

chore: add `clap` dependency for cli
  Cargo.lock
  ROADMAP_CONTINUATION.md
  crates/elbrus-cli/Cargo.toml
  crates/elbrus-scryfall/tests/integration.rs
Due: cargo-fmt, cargo-clippy, cargo-test-unit

feat: implemented CLI ingestion command
  .gitignore
  ROADMAP_CONTINUATION.md
  crates/elbrus-cli/Cargo.toml
  crates/elbrus-cli/src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-test-unit

feat: add land function for color
  crates/elbrus-core/src/color.rs
Due: cargo-fmt, cargo-clippy, cargo-test-unit

feat: initialize `elbrus-parser` crate
  Cargo.lock
  Cargo.toml
  crates/elbrus-parser/Cargo.toml
  crates/elbrus-parser/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test-unit

Revert "feat: initialize `elbrus-parser` crate"
  Cargo.lock
  Cargo.toml
  crates/elbrus-parser/Cargo.toml
  crates/elbrus-parser/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test-unit

Reapply "feat: initialize `elbrus-parser` crate"
  Cargo.lock
  Cargo.toml
  crates/elbrus-parser/Cargo.toml
  crates/elbrus-parser/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test-unit

feat: initial mana cost parsing implementation
  Cargo.lock
  crates/elbrus-core/src/card.rs
  crates/elbrus-core/src/mana.rs
  crates/elbrus-parser/Cargo.toml
  crates/elbrus-parser/src/lib.rs
  crates/elbrus-parser/src/mana_cost.rs
  crates/elbrus-parser/tests/data/mana_costs.json
  crates/elbrus-parser/tests/mana_cost.rs
  jq_queries.md
  justfile
  scratchpad.md
  to_justfile.md
Due: cargo-fmt, cargo-clippy, cargo-test-unit

chore: tidy repo layout and externalize jq queries
  Cargo.lock
  Cargo.toml
  README.md
  docs/A_Z_ROADMAP.md
  docs/ROADMAP_CONTINUATION.md
  docs/STARTER_CONVO.md
  docs/jq_queries.md
  jq/digital_games_distribution.jq
  jq/digital_only_cards.jq
  jq/layout_cards_with_faces.jq
  jq/layout_face_usage_by_layout.jq
  jq/legalities_banned_cards.jq
  jq/legalities_commander_legal_cards.jq
  jq/legalities_formats.jq
  jq/mana_distinct_costs_all_faces.jq
  jq/mana_distinct_costs_root.jq
  jq/mana_hybrid_cards.jq
  jq/mana_no_cost_cards.jq
  jq/mana_phyrexian_cards.jq
  jq/mana_x_cost_cards.jq
  jq/orientation_card_count.jq
  jq/orientation_layouts.jq
  jq/orientation_rarities.jq
  jq/orientation_top_level_keys.jq
  jq/prices_distribution.jq
  jq/prices_null_usd_cards.jq
  jq/types_all_subtypes.jq
  jq/types_distinct_type_lines.jq
  jq/types_multitype_cards.jq
  jq/types_no_subtypes.jq
  justfile
  scratchpad.md
  to_justfile.md
Due: none

docs: split roadmap into per-phase files under docs/roadmap/
  README.md
  docs/A_Z_ROADMAP.md
  docs/ROADMAP_CONTINUATION.md
  docs/roadmap/README.md
  docs/roadmap/api-sketches.md
  docs/roadmap/hard-problems.md
  docs/roadmap/overview.md
  docs/roadmap/phase-0-hygiene.md
  docs/roadmap/phase-1-foundation.md
  docs/roadmap/phase-2-user-facing.md
  docs/roadmap/phase-3-analysis.md
  docs/roadmap/phase-4-interfaces.md
  docs/roadmap/phase-5-rules.md
  docs/roadmap/stretch.md
Due: none
